/* 

# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Violet: hsl(257, 40%, 49%)
- Soft Magenta: hsl(300, 69%, 71%)

## Typography

### Headings

- Family: [Poppins](https://fonts.google.com/specimen/Poppins)
- Weights: 400, 600

### Body

- Family: [Open Sans](https://fonts.google.com/specimen/Open+Sans)
- Weights: 400

*/ 


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("../images/bg-desktop.svg");
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: hsl(257, 40%, 49%);

    font-family: 'Poppins', sans-serif;
    color: white;

    width: 100vw;
    overflow-x: hidden;
}

header img{
    margin-bottom: 80px;
}

.container{
   padding-left: 80px;
   padding-top: 65px;
   padding-right: 95px;
   padding-bottom: 40px;

   height: 100%;
}


main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-content{
    width: 55.43rem;
    height: 35.93rem;

    margin-right: 60px;
}

.left-content img{
    width: 100%;
    height: 100%;
}

.right-content{
    width: 31.56rem;
    height: 17.81rem;
}

.right-content h1{
    width: 430px;
    font-size: 36px;

    margin-bottom: 30px;

    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.right-content p{
    width: 453px;
    font-size: 16px;

    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.right-content a{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: white;
    text-decoration: none;
    color: hsl(257, 40%, 49%);
    width: 188px;
    height: 55px;
    border-radius: 99px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    height: 80px;
}

footer img{
    width: 40px;
    height: 40px;

    border: 2px solid white;
    border-radius: 99px;
    padding: 9px;
    margin-left: 15px;
}

@media(max-width: 1290px){

    .left-content{
        height: 34.93rem;
    }

    .right-content p {
        width: 425px;
        font-size: 15px;
    }

    .right-content h1{
        font-size: 34px;
    }

    footer{
        height: 124px;
    }
}

@media(max-width: 1200px){
    body{
        background-image: url("../images/bg-mobile.svg");
    }
    header img {
        margin-bottom: 50px;
    }

    main{
        flex-direction: column;
    }

    .left-content {
        width: auto;
        height: auto;
        margin-right: 0px;
    }
        
    .right-content {
        width: 31.56rem;
        height: 19.81rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .right-content h1{
        text-align: center;
        font-size: 30px;
        width: 399px;
        margin-bottom: 20px;
    }

    .right-content p{
        text-align: center;
        width: 307px;
        font-size: 16px;
    }

    .right-content a{
        width: 250px;
    }

    footer{
        justify-content: center;
        height: auto;
        margin-top: 32px;
    }
}

@media (max-width: 400px){

    body{
        background-image: url("../images/bg-mobile.svg");
        background-position: top;
    }

    .container {
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }

    header img {
        width: 150px;
        height: 100px;
        margin-left: 36px;
        margin-bottom: 0;
    }

    .left-content {
        width: 300px;
    }

    .right-content h1 {
        font-size: 23px;
        width: 276px;
    }

    .right-content a{
        height: 48px;

    }

    footer{
        margin-bottom: 30px;
    }
}
